<!doctype html>
<html lang="en">

<%- include('./includes/head.ejs') %>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <%- include('./includes/navbar.ejs') %>
        <%- include('./includes/sidebar.ejs') %>
        <!-- MAIN -->
        <div class="main">
            <div class="main-content">
                <div class="container-fluid">
                    <!-- <div class="panel panel-headline">
                        <div class="panel-heading">
                            <img src="/img/404ERR.png" alt="404ERR">
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div>없는 페이지입니다 .</div>
                                <div class="col-md-6 text-right"><a href="/home" class="btn btn-primary">홈으로 돌아가기</a></div>
                            </div>
                        </div>
                    </div> -->
                    <div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">없는 페이지 입니다. </h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-2">
                                </div>
								<div class="col-md-4" style="margin-top: 10%;">
                                    404. That’s an error.</br>
                                    The requested URL was not found on this server. That’s all we know.
                                    <a href="/home" class="btn btn-primary">홈으로 돌아가기</a>
								</div>
								<div class="col-md-4">
                                    <img src="/img/404ERR.png" alt="404ERR" width="400px" height="400px">
								</div>
							</div>
							
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="/vendor/chartist/js/chartist.min.js"></script>
    <script src="/scripts/klorofil-common.js"></script>
</body>

</html>